<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Welcome {{user}}<sub>admin</sub></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="btn btn-success" href="/dashboard/admin/register-doctor">Register Doctor </a>
        </li>
        </ul>


         <form class="d-flex me-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Your Profile
            </a>
            <ul class="dropdown-menu dropdown-menu-end p-2">
              <li><a class="dropdown-item btn btn-danger" href="/logout">Log Out</a></li>
            </ul>
          </li>
        </ul>
    </div>
  </div>
</nav>

<div>
  <h2 class="text-center my-4">Registered Doctors</h2>
      <table class="table">
      <thead>
        <tr>
          <th>Full name</th>
          <th>username</th>
          <th>Department</th>
          <th>phone</th>
          <th>Actions</th>
        </tr>
      </thead>  
      <tbody>
        {% for doc in alldoctors %}
        {% for x in doctdetails %}
        {% if doc.username == x.username %}
        <tr>
          <td>{{doc.fullname}}</td>
          <td>{{doc.username}}</td>
          <td>{{x.specialization}}</td>
          <td>{{x.phone}}</td>
          <td>
          <a href="/edit-doctor/{{ doc.id }}" class="btn btn-primary btn-sm me-1">Edit</a>
          <a class="btn btn-success" href="/availibility/edit">Update Availability</a>
          <a href="/delete/{{ doc.id }}" class="btn btn-danger btn-sm me-1">Delete</a>
          <a href="/blacklist-doctor/{{ doc.id }}" class="btn btn-warning btn-sm">Blacklist</a>
        </td>
        </tr>
          {% endif %}
        {% endfor %}
        {% endfor %}
        </tbody>
      </table>
</div>
<h2 class="text-center my-4">Registered Patients</h2>
      <table class="table">
      <thead>
        <tr>
          <th>Full name</th>
          <th>username</th>
          <th>phone</th>
          <th>email</th>
          <th>address</th>
          <th>Actions</th>
        </tr>
      </thead>  
      <tbody>
        {% for pat in allpatients %}
        {% for y in patientdetails %}
        {% if pat.id == y.userid %}
        <tr>
          <td>{{pat.fullname}}</td>
          <td>{{pat.username}}</td>
          <td>{{y.phone}}</td>
          <td> {{y.email}}</td>
          <td style="word-break: break-word; max-width: 200px;">{{y.address}}</td>
          <td>
          <a href="/admin/edit-patient/{{pat.username}}" class="btn btn-primary btn-sm me-1">Edit</a>
          <a href="/delete/{{ pat.id }}" class="btn btn-danger btn-sm me-1">Delete</a>
          <a href="/blacklistpatient/{{ pat.id }}" class="btn btn-warning btn-sm">Blacklist</a>
        </td>
        </tr>
          {% endif %}
        {% endfor %}
        {% endfor %}
        </tbody>
      </table>
<h2 class="text-center my-4"> Upcoming Appointments</h2>
      <table class="table">
      <thead>
        <tr>
          <th>SR.No</th>
          <th>Patients Name</th>
          <th>Doctor Name</th>
          <th>Department</th>
          <th>Patient History</th>
          </tr>
      </thead>  
      <tbody>
        {% for ap in allappointments%}
        <tr>
          <td>{{ap.id}}</td>
          <td>{{ap.patient_fullname}}</td>
          <td>{{ap.doctor_fullname}}</td>
          <td>{{ap.department}}</td>
          <td><a class="btn btn-info" href="/dashboard/patient-history/{{ap.pt_username}}">View</a></td>

        </tr>
        {%endfor%}
        </tbody>
      </table>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</html>